.header {
  background: url("../img/background.jpg");
  background-position: center;
  background-size: cover;
  min-height: 300px;
}

nav {
  padding: 0 2rem;
}

.active {
  font-weight: bold;
}

.first-row,
.second-row,
.third-row,
.fourth-row {
  opacity: 0;
}
